@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
}

body{
    background-color: #fcfaf4;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    color: #111111;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #111111;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #111111;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #111111;
}

nav{
    height: 60px;
    padding: 10px 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links {
    display: flex;
    gap: 30px;
}

nav a {
    color: #333333;
    transition: transform ease 0.5s;
}

nav a:hover {
    transform: scale(1.2);
}

.landing {
    background: url(/media/Glass0316.jpg) center center;
    height: calc((100vh - 3vw) - 80px);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 94vw;
    border-radius: 30px;
    margin-bottom: 3vw;
}
.landing .landing-text{
    padding: calc(3vw + 3vh) 6vw;
}
.landing h1{
    color: #fcfaf4;
    font-size: min(max(75px, calc(4.6875rem + ((1vw - 4.14px) * 8.3001))), 200px);
    min-height: 0vw;
    line-height: 85%;
}

.landing p{
    color: #fcfaf4;
    font-size: min(max(20px, calc(1.25rem + ((1vw - 4.14px) * 0.996))), 35px);
    min-height: 0vw;
    padding-left: 0.5vw;
}

.projects {
    max-width: 96vw;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
}

.projects .projects-box{
    flex-grow: 1;
    flex-basis: 750px;
    border-radius: 30px;
    overflow: hidden;
    margin: 1vw;
    margin-bottom: 2vh;
    position: relative;
}

.projects-box video{
    max-width: 100%;
}

.projects-desc{
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.projects-desc .text{
    color: #fcfaf4;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.projects-box:hover .projects-desc{
    opacity: 1;
}