@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
}

body{
    background-color: #fcfaf4;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    color: #111111;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #111111;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #111111;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #111111;
}

nav{
    height: 60px;
    padding: 10px 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links {
    display: flex;
    gap: 30px;
}

nav a {
    color: #333333;
    transition: transform ease 0.5s;
}

nav a:hover {
    transform: scale(1.2);
}

.landing {
    background: url(/media/Glass0316.jpg) center center;
    height: calc((100vh - 3vw) - 80px);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 94vw;
    border-radius: 30px;
    margin-bottom: 3vw;
}
/*half is for half landing!!*/
.half{
    height: calc(50vh - 80px);
}
.landing .landing-text{
    padding: calc(3vw + 3vh) 6vw;
}
.landing h1{
    color: #fcfaf4;
    font-size: min(max(75px, calc(4.6875rem + ((1vw - 4.14px) * 8.3001))), 200px);
    min-height: 0vw;
    line-height: 85%;
}

.landing p{
    color: #fcfaf4;
    font-size: min(max(20px, calc(1.25rem + ((1vw - 4.14px) * 0.996))), 35px);
    min-height: 0vw;
    padding-left: 0.5vw;
}
.info{
    max-width: 94vw;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 70px;
    padding-bottom: 70px;
}
.info h3{
    padding-left: 6vw;
    font-size: min(max(20px, calc(1.25rem + ((1vw - 4.14px) * 0.664))), 30px);
    min-height: 0vw;
}
.info h2{
    padding-left: 24vw;
    font-size: min(max(30px, calc(1.875rem + ((1vw - 4.14px) * 2.656))), 70px);
    min-height: 0vw;
    width: 70vw;
    max-width: 1400px;
    font-weight: 500;
    line-height: 125%;
}
.info .second{
    padding-left: 35vw;
    width: 50vw;
}
.info p{
    padding-left: 35vw;
    font-size: min(max(10px, calc(0.625rem + ((1vw - 4.14px) * 0.664))), 20px);
    min-height: 0vw;
    width: 40vw;
    max-width: 800px;
    margin-bottom: 20px;
}
/*For main about section text*/
.about p{
    padding-left: 24vw;
    max-width: 1100px;
    width: 50vw;
}
.about h2{
    padding-left: 18vw;
    max-width: 1300vw;
    width: 70vw;
}
.info a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #0ABAB5;
    padding-left: 60vw;
    padding-right: 19vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-weight: 600;
    transition: transform ease 0.5s;
}
.info a:hover{
    transform: scale(1.1) translateX(-20px);
}
.project{
    padding: 20px;
    min-width: 500px;
    width: 40vw;
    flex-grow: 1;
}
.project video{
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project-container{
    display: flex;
    flex-flow: row wrap;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 150, 150);
    height: 40px;
    padding-top: 20px;
}
footer p{
    color: #fcfaf4;
}

@media only screen and (max-width: 680px) {
    .landing{
        max-width: 90vw;
    }
    .landing .landing-text{
        padding: calc(50vh - 100px) 6vw;
    }
    .half .landing-text{
        padding: calc(3vw + 3vh) 6vw;
    }
    .info h2{
        padding-left: 5vw;
        font-size: 30px;
        width: 90vw;
        max-width: 1400px;
    }
    .info .second{
        padding-left: 5vw;
        width: 90vw;
        padding-bottom: 10px;
    }
    .info p{
        padding-left: 5vw;
        font-size: 15px;
        width: 80vw;
        margin-bottom: 20px;
    }
    .info a{
        padding-left: 5vw;
        padding-right: 20vw;
    }
    .projects-box video{
        width: 90vw;
    }
  }